/*
Theme Name: Careerfy Child
Theme URI: http://demo.eyecix.com/careerfy/
Template: careerfy
Author: Eyecix
Author URI: http://eyecix.com/
Description: Careerfy brings you the most simple solution to display jobs on any type of websites. You may already know, some really big Job Portals provides the option to use their database and extend your website with job offers. This Theme can make everything automatically, some job providers also pay commission when any of your visitors click on the job links.
Tags: two-columns,left-sidebar,custom-background,custom-colors,custom-header,custom-menu,editor-style,featured-images,microformats,post-formats,rtl-language-support,sticky-post,threaded-comments,translation-ready
Version: 1.1.1.1525271252
Updated: 2018-05-02 14:27:32

*/
.home h5, body h5 {
	letter-spacing: -0.1px;
	font-size: 16pt;
	color: #54187b;
}
.careerfy-banner-search-three, .careerfy-typo-wrap .careerfy-banner-search-three {
    padding: 0 !important;
}
.single-employer #careerfy-header {
    background: #7b5baa;
}


.careerfy-header-two .careerfy-user-option li a.active {
    color: #bbb9b9;
}

.single-candidate #careerfy-header {
    background: #7b5baa;
}

.careerfy-jobdetail-four-list {
	padding: 150px 0px 95px 0px !important;
}


.careerfy-banner-three {
    padding: 0 !important;
}

.ver-all {
	text-align: right;
	color: #54187b;
	font-weight: bold;
	float: right;
}
.banner-homepage {
	margin-top: 70px;
    background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/bannerV.png');
    min-height: 400px;
    background-size: contain !important;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
	color: #fff !important;
}
.conteudo p {
	font-size: 14pt !important;
}
.banner-homepage h2 {
	color: #fff !important;
	font-size: 32pt;
}

.btn-home {
	color: #fff !important;
	background: #e5596e !important;
	padding: 10px 30px;
	border-radius: 8px;
}


.conteudo {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.setor-porque {
	padding: 40px 0;
	text-align: center !important;
}

.home .careerfy-candidate-grid-option {
	display: none !important;
}

.setor-porque h6 {
	text-align: center;
	padding: 10px 0;
	color: #54187b;
}
.careerfy-job-time {
    display: none;
}

.bloco-categoria {
	min-height: 190px;
	    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.meio-ambiente {
	background-image: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/ambiente.png');
	background-position: center !important;
}
.saude {
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/saude.png');
		background-position: center !important;

}
.tecnologia {
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/tec.png');
		background-position: center !important;

}
.ensino {
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/edu.png');
		background-position: center !important;

}
.causas-sociais {
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/social.png');
		background-position: center !important;

}

.setor-porque h6, h2 {
	color: #54187b !important;
}

.setor-porque p {
	color: #7b5baa !important;
}

.setor-porque h6 {
	letter-spacing: -0.5px !important;
	font-size: 14pt !important;
}

.careerfy-banner-search-three input[type="text"] {
	border: 1px solid;
}

.bloco-categoria:hover {
border: 1px solid #7b5caa;
}
.bloco-categoria a {
    color: #fff !important;
    position: relative;
    top: 160px;
	font-size: 16pt;
    font-weight: 900;
	text-shadow: 2px 2px 2px #54187b;
}
.careerfy-featured-label {
	display: none !important;
}
.home #careerfy-header {
    margin-top: 40px !important;
    background: #7b5baa !important;
}


.setor-como h2 {
	color: #fff !important;
}
.careerfy-banner-search-three input[type="submit"] {
	margin-left: -15px;
}

.img-banner {
    margin-top: 40px;
    margin-bottom: 0px !important;
}

.careerfy-banner-three {
  padding: 10px 0px;
}


#careerfy-header {
    margin-top: 40px !important;
}

#tpbr_topbar a {
	color: #fff !important;
    padding: 0 10px !important;
}

#tpbr_topbar a:hover {
	color: #fd6e74 !important;
}

.linha-footer {
	height: 5px;
	color: #ccc;
	border-top: 1px solid #d0cbcb;
    width: 80%;
    margin: 0 auto;
}

.menu-ultimo a {
    border: 1px #fff solid;
    border-radius: 5px;
    top: 25px;
    padding: 10px !important;
}
.careerfy-sticky-header .careerfy-header-two {
   background-color: #7B5BAA !important;
}
.careerfy-btn-icon {
	background-color: #7b5baa !important;
}

.careerfy-header-two .navbar-nav > li > a {
    font-size: 12pt !important;
}

body {
	background-color: #fff !important;
}

body, p, a {
    color: #12041c;
}

h3, body h3 {
    line-height: 26pt !important;
}

.vc_btn3.vc_btn3-color-violet.vc_btn3-style-modern {
    font-weight: bold !important;
    background-color: #54187b !important;
}

.vc_btn3.vc_btn3-color-violet.vc_btn3-style-modern a {
    font-weight: bold !important;
}


/*VC IMPORTS */
/*APLICAÇOES RECENTERS*/

body {
	background: #fff !important;
}

body, p, a {
	font-family: "Roboto"	!important;
}

h2, h3, h4, h1 {
	font-family: "Source Sans Pro" !important;
}

h3 {
	  font-weight: 900 !important;
    color: #7b5baa !important;
    font-size: 30pt !important;
}

h4 {
	  font-weight: 900 !important;
    color: #333 !important;
    font-size: 18pt !important;
}

.careerfy-page-title {
	width: 32%;
}

.careerfy-breadcrumb ul li {
    color: #333;
}


.careerfy-breadcrumb ul li a {
    color: #333;
}

.careerfy-page-title h1, .jobsearch-page-title h1 {
    text-align: left;
    font-size: 60pt !important;
    font-weight: 900 !important;
	line-height: 58pt !important;
}

.careerfy-breadcrumb {
    background-color: #e8d5f7;
}

.careerfy-breadcrumb ul li {
	color: #333;
}

.careerfy-footer-title4 h2 {
    font-weight: bold !important;
    color: #fd6e74 !important;
    font-size: 14pt !important;
}

/*BACKGROUNDS*/
.jobsearch-banner-transparent, .careerfy-banner-transparent {
opacity: 0 !important;	
}
.page-id-6 .careerfy-subheader{
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/banner-quem-somos.jpg') !important;
	    background-size: cover !important;
}

.page-id-5 .careerfy-subheader{
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/banner-quem-somos.jpg') !important;
	    background-size: cover !important;
}
.page-id-119 .careerfy-subheader{
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/banner-quem-somos.jpg') !important;
	    background-size: cover !important;
}

.page-id-127 .careerfy-subheader{
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/banner-quem-somos.jpg') !important;
	    background-size: cover !important;
}

.page-id-126 .careerfy-subheader{
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/banner-quem-somos.jpg') !important;
	    background-size: cover !important;
}

.page-id-117 .careerfy-subheader{
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/05.jpg') !important;
	    background-size: cover !important;
}
.page-id-134 .careerfy-subheader{
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/04.jpg') !important;
	    background-size: cover !important;
}

.page-id-420 .careerfy-subheader{
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/04.jpg') !important;
	    background-size: cover !important;
}
.page-id-121 .careerfy-subheader{
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/03.jpg') !important;
	    background-size: cover !important;
}

.page-id-122 .careerfy-subheader{
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/03.jpg') !important;
	    background-size: cover !important;
}

.page-id-462 .careerfy-subheader{
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/02.jpg') !important;
	    background-size: cover !important;
}

.page-id-123 .careerfy-subheader{
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/01.jpg') !important;
	    background-size: cover !important;
}


.page-id-474 .careerfy-subheader{
	background: url('https://estudioceu.com.br/adote/wp-content/uploads/2018/11/01.jpg') !important;
	    background-size: cover !important;
}


.careerfy-candidate-grid-status {
	display: none !important;
}
/*APLICAÇOES ANTIGAS*/



.jobsearch-map {
	display: none;
}

.tipo-aplicacao {
	display: none;
}
.copyright-four a {
	display: none;
}

.jobsearch-banner-search {display: none;}
.careerfy-main-content {
	padding-top: 60px !important;
}
.careerfy-jobdetail-tags-style2 a:hover {
    background-color: #7b5baa !important;
    color: #fffbfb;
}

.login-reg-errors .alert {
    background-color: #9358b9 !important;
}
.careerfy-jobdetail-four-links a i {
	color: #54187b !important;}
.job-to-fav-msg-con {
    position: relative;
    padding: 10px !important;
    right: 0px;
    top: 0px;
	color: #a94442 !important;}

.careerfy-jobdetail-four-links a.color1 {
    background-color: #54187b !important;
    border-color: #54187b !important;
}
.careerfy-post-btn {
	display: none;
}

.careerfy-header-two .navbar-nav > li > a {
	font-size: 13px;	
}

.single-employer .jobsearch-map {
	display: none;
}

@media (max-width: 860px) {
#tpbr_topbar a {
    font-size: 10px;
} 
	.banner-homepage {
		background: #7b5baa !important;
	}
	.menu-ultimo a {
    border: none;
    border-radius: none;
    top: 0 !important;
    padding: 10px 15px !important;
}
	
	.careerfy-header-two .careerfy-navigation.navbar {
    left: auto !important;
    right: 10px !important;
}
	.careerfy-header-two .careerfy-logo {
    float: left !important;
		}
	.careerfy-header-two .careerfy-logo-con{
    width: auto !important;
}
	.careerfy-header-two .careerfy-right {
    padding-top: 25px !important;
}
	.careerfy-header-two .careerfy-menu-con {
		width: auto !important; }
}