.body-nowhite-bg .employer-content-wrapper {
	padding: 25px;
	float: left;
	width: 100%;
	background-color: #ffffff;
	margin-bottom: 40px;
}
.body-nowhite-bg .employer-content-wrapper .jobsearch-employer-wrap-section {
	border: none;
}
.careerfy-employer-subheader {
	float: left;
	width: 100%;
	background-color: #303844;
	padding: 28px 0px 38px 0px;
	text-align: center;
}
.careerfy-employer-subheader h1 {
	float: left;
	width: 100%;
	font-size: 45px;
	color: #ffffff;
	margin-bottom: 6px;
}
.careerfy-employer-subheader p {
	display: inline-block;
	width: 70%;
	font-size: 18px;
	margin-bottom: 0px;
	color: #ffffff;
}
.careerfy-employer-detail2-toparea {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.careerfy-employer-detail2-toparea figure {
	float: left;
	margin-bottom: 0px;
}
.careerfy-employer-detail2-toparea figure > a {
	float: left;
	width: 100px;
}
.careerfy-employer-detail2-toparea figure > a ~ figcaption {
	margin-left: 130px;
	padding-top: 10px;
}
.careerfy-employer-detail2-toparea figcaption h2 {
	font-size: 26px;
	margin-bottom: 8px;
}
.careerfy-employer-detail2-toparea-reviews {
	color: #333333;
	display: inline-block;
	margin-left: 6px;
}
.careerfy-employer-detail2-toparea .careerfy-rating-info,
.careerfy-employer-detail2-toparea .careerfy-rating,
.careerfy-employer-detail2-toparea-reviews {
	vertical-align: middle;
}
.careerfy-employer-detail2-toparea .careerfy-right {
	margin-top: 10px; }
.careerfy-employer-detail2-toparea p {
	float: right;
	width: 100%;
	font-size: 16px;
	text-align: right;
	padding-left: 15px;
}
.careerfy-employer-detail2-tablink,
.careerfy-employer-detail2-tablink ul {
	float: left;
	width: 100%;
}
.careerfy-employer-detail2-tablink {
	margin-bottom: 50px; }
.careerfy-employer-detail2-tablink ul {
	border-bottom: 1px solid #f6f6f6;
}
.careerfy-employer-detail2-tablink ul li {
	float: left;
	list-style: none;
	padding: 0px 36px;
	line-height: 1;
}
.careerfy-employer-detail2-tablink ul li:first-child { padding-left: 0px; }
.careerfy-employer-detail2-tablink ul li a {
	float: left;
	font-size: 16px;
	font-weight: 500;
	color: #333333;
	padding: 0px 6px 19px 6px;
	position: relative;
}
.careerfy-employer-detail2-tablink ul li a:before {
	content: '';
	position: absolute;
	left: 0px;
	bottom: 0px;
	border-bottom: 4px solid #13b5ea;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	    -ms-transition: all 0.4s ease-in-out;
	     -o-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
}
.careerfy-employer-detail2-tablink ul li:hover a:before,
.careerfy-employer-detail2-tablink ul li.active a:before {
	opacity: 1;
}
.careerfy-jobdetail-content.careerfy-employerdetail-twocontent,
.careerfy-employer-wrap-section.careerfy-employerdetail-twocontent {
	border: none;
	padding: 0px;
}
.careerfy-employer-wrap-section.careerfy-employerdetail-twocontent {
	margin-bottom: 35px;
}
.careerfy-employer-wrap-section.careerfy-employerdetail-twocontent.bottom-none {
	margin-bottom: 0px;
}
.careerfy-jobdetail-content.careerfy-employerdetail-twocontent {
	margin-bottom: 0px;
}
.careerfy-employer-gallery,.careerfy-employer-gallery a,
.careerfy-employer-gallery img {
	float: left;
	width: 100%;
}
.careerfy-employer-gallery ul.careerfy-row {
	margin: 0px -1px;
}
.careerfy-employer-gallery ul li {
	list-style: none; }
.careerfy-employer-gallery ul li[class*="careerfy-column-"] {
	padding: 0px 1px;
	margin-bottom: 2px;
}
.widget_your_info iframe {
	float: left;
	width: 100%;
	height: 320px;
}
.widget_your_info_wrap {
	float: left;
	width: 100%;
	border: 1px solid #efefef;
	padding: 25px 29px 17px 29px;
}
.widget_your_info_list,
.widget_your_info_social,
.widget_your_info_list li {
	float: left;
	width: 100%;
}
.widget_your_info_list li {
	list-style: none;
	line-height: 1;
	margin-bottom: 20px;
	color: #999999;
}
.widget_your_info_list li a {
	color: #999999; }
.widget_your_info_list li i {
	float: left;
	margin: 0px 15px 0px 0px;
}
.widget_your_info_social li {
	float: left;
	list-style: none;
	margin: 0px 8px 8px 0px;
}
.widget_your_info_social li a {
	float: left;
	width: 25px;
	height: 25px;
	background-color: #375d93;
	color: #ffffff;
	font-size: 15px;
	text-align: center;
	border-radius: 100%;
	padding-top: 5px;
}
.widget_your_info_social li a.fa-twitter 		{ background-color: #43afe9; }
.widget_your_info_social li a.fa-linkedin 		{ background-color: #007eb3; }
.widget_your_info_social li a.fa-google-plus 	{ background-color: #e24046; }
.widget_your_info_social li a.fa-dribbble 		{ background-color: #f95c94; }
.jobsearch-employer-wrap-section { border: none; }












/* Candidate Grid */
.jobsearch-candidate-grid figure,.jobsearch-candidate-grid-thumb img,
.jobsearch-candidate-grid figure figcaption,.jobsearch-candidate {
    float: left;
    width: 100%;
}
.jobsearch-candidate-grid { margin-bottom: 15px; }
.jobsearch-candidate-grid > ul > li {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-right: -3px;
    margin-bottom: 30px;
}
.jobsearch-typo-wrap .jobsearch-candidate-grid > ul > li { float: none; }
.jobsearch-employer-wrap-section .jobsearch-candidate-grid figure { padding-bottom: 18px; }
.jobsearch-candidate-grid figure {
    text-align: center;
    margin: 0px;
    border: 1px solid #ececec;
    position: relative;
    padding: 24px 22px 24px 22px;
    background-color: #ffffff;
}
.jobsearch-candidate-grid-thumb {
    display: inline-block;
    width: 124px;
    height: 124px;
    position: relative;
    margin-bottom: 8px;
}
.jobsearch-candidate-grid figure figcaption { line-height: 1; }
.jobsearch-candidate-grid-thumb img { border-radius: 100%; height: 100%; }
.jobsearch-candidate-grid-status {
    position: absolute;
    left: 8px;
    top: 9px;
    width: 22px;
    height: 22px;
    background-color: #53b427;
    border: 4px solid #ffffff;
    border-radius: 100%;
}
.jobsearch-candidate-grid-status.jobsearch-yellow { background-color: #fcd116; }
.jobsearch-candidate-grid-status.jobsearch-red { background-color: #e81123; }
.jobsearch-candidate-grid-status.jobsearch-none { background-color: #ffffff; border-color: #53b427; border-width: 2px; }
.jobsearch-candidate-grid figure figcaption h2 {
    margin-bottom: 10px;
    line-height: 1;
    font-size: 16px;
}
.jobsearch-candidate-grid figure figcaption p {
    font-size: 12px;
    color: #999999;
    margin-bottom: 8px;
    line-height: 1.3;
}
.jobsearch-candidate-grid figure figcaption p a a { color: #13b5ea; }
.jobsearch-candidate-grid-option li a {
    color: #999999;
    float: right;
}
.jobsearch-candidate-grid figure figcaption span {
    font-size: 11px;
    color: #999999;
    line-height: 1.3;
}
.jobsearch-candidate-grid figure figcaption span small {
	color: #333;
	font-size: 11px;
}
.jobsearch-candidate-grid-option  {
    background-color: #fcfcfc;
    float: left;
    width: 100%;
    border: 1px solid #ececec;
    border-top: none;
    padding-right: 5px;
    margin: 0px;
}
.jobsearch-candidate-grid-option li {
    float: left;
    width: 100%;
    list-style: none;
    line-height: 1;
    color: #999999;
    font-size: 12px;
    padding: 14px 18px 13px 18px;
}
.jobsearch-candidate-grid-option li div.jobsearch-right { width: 100%; }
.jobsearch-candidate-grid-option li span {
    color: #555555;
    font-size: 13px;
    float: left;
    margin-bottom: 3px;
    font-weight: 500;
}
/* Candidate Team Social Icons */
.jobsearch-social-icons  {
    background-color: #fcfcfc;
    float: left;
    width: 100%;
    border: 1px solid #ececec;
    border-top: none;
    text-align: center;
    padding-top: 13px;
}
.jobsearch-social-icons li {
    display: inline-block;
    list-style: none;
    font-size: 24px;
    padding: 0px 3px 11px 3px;
}
.jobsearch-social-icons li a.careerfy-facebook-logo                { color: #375d93; }
.jobsearch-social-icons li a.careerfy-twitter-logo                 { color: #43afe9; }
.jobsearch-social-icons li a.careerfy-linkedin-button              { color: #007eb3; }
.jobsearch-social-icons li a.careerfy-google-plus-logo-button      { color: #e24046; }
.jobsearch-social-icons li a.careerfy-dribbble-logo      { color: #f95c94; }
