.careerfy-employerfour-list {
	float: left;
	width: 100%;
	background-color: #f7f7f7;
	padding: 34px 0px 11px 0px;
	border-bottom: 1px solid #d7d7d7;
}
.careerfy-employerfour-list figure img {
	float: left;
}
.careerfy-employerfour-list figure img ~ figcaption {
	margin-left: 200px;
}
.careerfy-employerdetailfour-content .jobsearch-employer-wrap-section,.careerfy-employerdetailfour-content .careerfy-employer-wrap-section {
	background-color: #f7f7f7;
	border: none;
}
.careerfy-employerdetailfour-content .careerfy-employer-wrap-section {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	margin-bottom: 20px;
}
.careerfy-employerfour-list h1 {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 6px;
	line-height: 1.3;
}
.careerfy-employerfour-list .careerfy-rating-info {
	font-size: 14px;
}
.careerfy-employerfour-list .careerfy-employer-detail2-toparea-reviews {
	font-size: 12px;
	vertical-align: super;
}
.careerfy-employerfour-list .careerfy-rating:before,
.careerfy-employerfour-list .careerfy-rating-box:before {
	background: url(../images/rating-star-2.png);
	width: 92px;
	height: 16px;
}
.careerfy-employerfour-list .careerfy-rating-box:before {
	background-position: 0px 100%; }
.careerfy-employerfour-list .careerfy-rating {
	width: 92px;
	height: 16px;
}
.careerfy-employerfour-top-section {
	float: left;
	width: 100%;
	padding-top: 25px;
}
.careerfy-employerfour-map {
	float: left;
	width: 100%;
	margin-top: -210px;
}
.careerfy-employerfour-map iframe {
	height: 270px;
	width: 100%;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20);
}
.careerfy-employerfour-top-section .careerfy-employer-detail2-toparea-btn {
	margin-left: 0px;
	margin-right: 10px;
	float: left;
}
.careerfy-employerfour-top-social {
	float: left;
	margin-left: 5px;
}
.careerfy-employerfour-top-social li {
	float: left;
	list-style: none;
	color: #666666;
	font-weight: 500;
	margin: 8px 12px 0px 0px;
	line-height: 1;
}
.careerfy-employerfour-top-social li span {
	float: left;
	padding-top: 7px;
}
.careerfy-employerfour-top-social li a {
	float: left;
	width: 30px;
	height: 30px;
	background-color: #375d93;
	color: #ffffff;
	border-radius: 100%;
	font-size: 18px;
	text-align: center;
	padding-top: 6px;
}
.careerfy-employerfour-top-social li a.fa-twitter 			{ background-color: #43afe9; }
.careerfy-employerfour-top-social li a.fa-linkedin 			{ background-color: #007eb3; }
.careerfy-employerfour-top-social li a.fa-google-plus 		{ background-color: #e24046; }
.careerfy-employerfour-top-social li a.fa-dribbble 			{ background-color: #f95c94; }
.careerfy-employerdetailfour-content {
	background-color: #f7f7f7;
	border-color: #d7d7d7;
}
.widget_gallery_four ul {
	margin: 0px -5px; }
.widget_gallery_four ul li {
	float: left;
	width: 25%;
	list-style: none;
	padding: 0px 5px 10px 5px;
}
.widget_gallery_four ul li a,
.widget_gallery_four ul li img {
	float: left;
	width: 100%;
}