@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?czpsth');
  src:  url('../fonts/icomoon.eot?czpsth#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?czpsth') format('truetype'),
    url('../fonts/icomoon.woff?czpsth') format('woff'),
    url('../fonts/icomoon.svg?czpsth#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.careerfy-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.careerfy-people:before {
  content: "\e900";
}
.careerfy-target:before {
  content: "\e901";
}
.careerfy-human-resources:before {
  content: "\e902";
}
.careerfy-arrow-left-long:before {
  content: "\e903";
}
.careerfy-twitter:before {
  content: "\e904";
}
.careerfy-hospital:before {
  content: "\e905";
}
.careerfy-money:before {
  content: "\e906";
}
.careerfy-apple:before {
  content: "\e907";
}
.careerfy-user-plus:before {
  content: "\e908";
}
.careerfy-diamond:before {
  content: "\e909";
}
.careerfy-map-pin-fill:before {
  content: "\e90a";
}
.careerfy-play-circular:before {
  content: "\e90b";
}
.careerfy-arrow-pointing-to-right:before {
  content: "\e90c";
}
.careerfy-arrow-pointing-to-left:before {
  content: "\e90d";
}
.careerfy-user:before {
  content: "\e90e";
}
.careerfy-login:before {
  content: "\e90f";
}
.careerfy-android-logo:before {
  content: "\e910";
}
.careerfy-resume-document:before {
  content: "\e911";
}
.careerfy-paper:before {
  content: "\e912";
}
.careerfy-coding:before {
  content: "\e913";
}
.careerfy-office:before {
  content: "\e914";
}
.careerfy-clock-hours:before {
  content: "\e915";
}
.careerfy-company-workers:before {
  content: "\e916";
}
.careerfy-graphic:before {
  content: "\e917";
}
.careerfy-support:before {
  content: "\e918";
}
.careerfy-pen:before {
  content: "\e919";
}
.careerfy-search-papper:before {
  content: "\e91a";
}
.careerfy-handshake:before {
  content: "\e91b";
}
.careerfy-office-building:before {
  content: "\e91c";
}
.careerfy-check-square:before {
  content: "\e91d";
}
.careerfy-arrow-right-circular-fill:before {
  content: "\e91e";
}
.careerfy-arrow-down-circular-fill:before {
  content: "\e91f";
}
.careerfy-building:before {
  content: "\e920";
}
.careerfy-curriculum:before {
  content: "\e921";
}
.careerfy-user-line-double:before {
  content: "\e922";
}
.careerfy-discuss-issue:before {
  content: "\e923";
}
.careerfy-newspaper:before {
  content: "\e924";
}
.careerfy-fax:before {
  content: "\e925";
}
.careerfy-placeholder:before {
  content: "\e926";
}
.careerfy-linkedin-fill:before {
  content: "\e927";
}
.careerfy-facebook:before {
  content: "\e928";
}
.careerfy-summary:before {
  content: "\e929";
}
.careerfy-calendar-line:before {
  content: "\e92a";
}
.careerfy-heart-fill:before {
  content: "\e92b";
}
.careerfy-check-box-fill:before {
  content: "\e92c";
}
.careerfy-check-box-empty:before {
  content: "\e92d";
}
.careerfy-checked:before {
  content: "\e92e";
}
.careerfy-linkedin:before {
  content: "\e92f";
}
.careerfy-user-circular:before {
  content: "\e930";
}
.careerfy-star-empty:before {
  content: "\e931";
}
.careerfy-upload:before {
  content: "\e932";
}
.careerfy-plus-circular:before {
  content: "\e933";
}
.careerfy-credit-card-line:before {
  content: "\e934";
}
.careerfy-star-fill:before {
  content: "\e935";
}
.careerfy-right-arrow-long:before {
  content: "\e936";
}
.careerfy-credit-card:before {
  content: "\e937";
}
.careerfy-time:before {
  content: "\e938";
}
.careerfy-folder:before {
  content: "\e939";
}
.careerfy-group:before {
  content: "\e93a";
}
.careerfy-linkedin-circular:before {
  content: "\e93b";
}
.careerfy-twitter-circular:before {
  content: "\e93c";
}
.careerfy-facebook-circular:before {
  content: "\e93d";
}
.careerfy-internet:before {
  content: "\e93e";
}
.careerfy-calendar:before {
  content: "\e93f";
}
.careerfy-view:before {
  content: "\e940";
}
.careerfy-rubbish:before {
  content: "\e941";
}
.careerfy-edit:before {
  content: "\e942";
}
.careerfy-resume-user:before {
  content: "\e943";
}
.careerfy-logout:before {
  content: "\e944";
}
.careerfy-multimedia:before {
  content: "\e945";
}
.careerfy-id-card:before {
  content: "\e946";
}
.careerfy-alarm:before {
  content: "\e947";
}
.careerfy-briefcase-time:before {
  content: "\e948";
}
.careerfy-resume:before {
  content: "\e949";
}
.careerfy-google-plus-circular-fill:before {
  content: "\e94a";
}
.careerfy-add:before {
  content: "\e94b";
}
.careerfy-download-arrow:before {
  content: "\e94c";
}
.careerfy-technology:before {
  content: "\e94d";
}
.careerfy-envelope-line:before {
  content: "\e94e";
}
.careerfy-trophy:before {
  content: "\e94f";
}
.careerfy-design-skills:before {
  content: "\e950";
}
.careerfy-degree-cap:before {
  content: "\e951";
}
.careerfy-network:before {
  content: "\e952";
}
.careerfy-user-line:before {
  content: "\e953";
}
.careerfy-briefcase:before {
  content: "\e954";
}
.careerfy-social-media:before {
  content: "\e955";
}
.careerfy-salary:before {
  content: "\e956";
}
.careerfy-check-circular-fill:before {
  content: "\e957";
}
.careerfy-sort:before {
  content: "\e958";
}
.careerfy-envelope:before {
  content: "\e959";
}
.careerfy-add-list:before {
  content: "\e95a";
}
.careerfy-squares:before {
  content: "\e95b";
}
.careerfy-list:before {
  content: "\e95c";
}
.careerfy-up-arrow:before {
  content: "\e95d";
}
.careerfy-right-arrow:before {
  content: "\e95e";
}
.careerfy-instagram-circular-fill:before {
  content: "\e95f";
}
.careerfy-linkedin-circular-fill:before {
  content: "\e960";
}
.careerfy-dribbble-circular-fill:before {
  content: "\e961";
}
.careerfy-twitter-circular-fill:before {
  content: "\e962";
}
.careerfy-facebook-circular-fill:before {
  content: "\e963";
}
.careerfy-play-button:before {
  content: "\e964";
}
.careerfy-arrow-right-circular:before {
  content: "\e965";
}
.careerfy-arrow-left-circular-fill:before {
  content: "\e966";
}
.careerfy-two-quotes:before {
  content: "\e967";
}
.careerfy-left-quote:before {
  content: "\e968";
}
.careerfy-filter-tool-black-shape:before {
  content: "\e969";
}
.careerfy-map-pin:before {
  content: "\e96a";
}
.careerfy-heart:before {
  content: "\e96b";
}
.careerfy-business:before {
  content: "\e96c";
}
.careerfy-fast-food:before {
  content: "\e96d";
}
.careerfy-books:before {
  content: "\e96e";
}
.careerfy-antenna:before {
  content: "\e96f";
}
.careerfy-hospital2:before {
  content: "\e970";
}
.careerfy-accounting:before {
  content: "\e971";
}
.careerfy-car:before {
  content: "\e972";
}
.careerfy-engineer:before {
  content: "\e973";
}
.careerfy-search:before {
  content: "\e974";
}
.careerfy-down-arrow:before {
  content: "\e975";
}
.careerfy-location:before {
  content: "\e976";
}
.careerfy-briefcase-line:before {
  content: "\e977";
}
.careerfy-arrow-up-circular:before {
  content: "\e978";
}
.careerfy-upload-arrow:before {
  content: "\e979";
}
.careerfy-arrow-right-fill:before {
  content: "\ea3c";
}
.careerfy-arrow-left:before {
  content: "\ea40";
}
.careerfy-arrow-right-bold:before {
  content: "\eaef";
}
.careerfy-arrow-right:before {
  content: "\eb2d";
}
.careerfy-list-sign:before {
  content: "\eb44";
}
.careerfy-grid-square:before {
  content: "\eb45";
}
.careerfy-arrow-right-light:before {
  content: "\eb60";
}
.careerfy-map-location-pin:before {
  content: "\eb6e";
}
.careerfy-check-mark:before {
  content: "\eb73";
}
.careerfy-map-pin-square:before {
  content: "\eb76";
}
.careerfy-edit-tool:before {
  content: "\eb7d";
}
.careerfy-building-office:before {
  content: "\eb92";
}
